@model AppRestaurant.Models.tblDetalleFactura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblDetalleFactura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Importe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Importe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblCocinero.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCocinero.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblFactura.IdFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblFactura.IdFactura)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDetalleFactura }) |
    @Html.ActionLink("Back to List", "Index")
</p>
