@model IEnumerable<AppRestaurant.Models.tblDetalleFactura>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Plato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Importe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblCocinero.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblFactura.IdFactura)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Plato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Importe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblCocinero.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblFactura.IdFactura)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDetalleFactura }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDetalleFactura }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDetalleFactura })
        </td>
    </tr>
}

</table>
